@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --red-600: #de2c18;
  --red-800: #9e1c15;
  --orange-400: #ff8a4c;
  --white: #ffffff;
}

@layer base {
  /* * {
    @apply border-box;
  } */

  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: black;
  }
  html,
  body {
    @apply m-0 p-0 min-h-screen;
  }

  body {
    font-family:
      "Inter",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      sans-serif;
    background-color: var(--white);
    color: var(--red-800);
  }
}
